<script>
var name;
name = prompt('名前を入力してください');
if (name == "") name = "名前がありません";
document.write("<h1h1>");
document.write("ようこそ、<b>" + name + "</b>さん！");
document.write("</h1>");
</script>

<p>Find me in app/views/pages/info.html.erb</p>
